@font-face {
    font-family: "Alpha Monday";
    src: url("/fonts/AlphaMonday.woff2") format("woff2"),
        url("../../../assets/fonts/GROBOLD.ttf") format("woff");
    /* url("../../../assets/fonts/EuclidCircularB-Medium.woff") format("woff"); */
    font-weight: 400;
    font-style: normal;
}

.contact-head {
    z-index: 2;
    padding-block: 150px;
}
.cart-table-head hr {
    border: 1px dashed #b7903c;
    height: 0px;

    opacity: 0.6;
}
.cart-table-head h4 {
    color: #b7903c;
}
.red-black {
    background-color: #691411;
}
.form-wrapper {
    background-color: #691411;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem;
}
.menu-section {
    background-color: #691411;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;

    background-image: url("../../../assets/img/pattern-bg.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 100%;
}
.contact-form {
    background-color: white;
    padding: 3rem 2rem;
    border-radius: 25px;
    max-width: 800px;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.form-group {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

textarea {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    resize: vertical;
    font-family: inherit;
}

.submit-btn {
    background-color: #691411;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 50px;
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #801b18;
}
.bg-maroon {
    background-color: #631b1b;
}

.text-gold {
    color: #c3ab3d;
}

.map-container {
    height: 400px;
}
.sub-heading {
    font-family: "Alpha Monday", sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 1;
    letter-spacing: 0;
    text-align: center;
}
.gro-bold-heading {
    font-family: "Alpha Monday", sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 1;
    letter-spacing: 0;
    text-align: center;
    padding-bottom: 30px;
}

@media (max-width: 768px) {
    .contact-head {
        padding: 150px 20px;
    }

    .contact-sec {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .gro-bold-heading {
        font-size: 35px;
        line-height: 1.5;
    }
    .sub-heading {
        font-size: 22px;
        padding-bottom: 20px;
    }
    .map-container {
        height: 300px;
    }
}
