.spice-section {
    background-color: #f47b20;
}

.spice-img {
    height: 300px;
    object-fit: contain;
    background: #fff;
    border-radius: 10px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.spice-card {
    width: 100%;
    /* max-width: 480px; */
    /* background-color: white; */
    border-radius: 16px;
    padding: 0.5rem 1rem;
}
.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.background-red {
    background: #691411;
}
.background-red:hover {
    background: #691411;
}
.card-title {
    text-align: left;
}
.sub-heading {
    font-family: "Alpha Monday", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 1;
    letter-spacing: 0;
    text-align: center;
    padding-bottom: 20px;
}
.gro-bold-heading {
    font-family: "Alpha Monday", sans-serif;
    font-weight: 500;
    font-size: 100px;
    line-height: 1;
    letter-spacing: 0;
    text-align: center;
    display: inline;
}
@media (max-width: 768px) {
    .gro-bold-heading {
        font-family: "Alpha Monday", sans-serif;
        font-weight: 500;
        font-size: 30px;
        line-height: 1;
        letter-spacing: 0;
        text-align: center;
    }
    .sub-heading {
        font-family: "Alpha Monday", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 1;
        letter-spacing: 0;
        text-align: center;
        padding-bottom: 20px;
    }
}
