@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@font-face {
    font-family: "EuclidCircularB-Regular";
    src: url("../fonts/EuclidCircularB-Regular.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/EuclidCircularB-Regular.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../fonts/EuclidCircularB-Regular.woff")
            format("woff"),
        /* Pretty Modern Browsers */ url("../fonts/EuclidCircularB-Regular.ttf")
            format("truetype");
    /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "EuclidCircularB-Bold";
    src: url("../fonts/EuclidCircularB-Bold.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/EuclidCircularB-Bold.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../fonts/EuclidCircularB-Bold.woff")
            format("woff"),
        /* Pretty Modern Browsers */ url("../fonts/EuclidCircularB-Bold.ttf")
            format("truetype");
    /* Safari, Android, iOS */
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "EuclidCircularB-Medium";
    src: url("../fonts/EuclidCircularB-Medium.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/EuclidCircularB-Medium.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../fonts/EuclidCircularB-Medium.woff")
            format("woff"),
        /* Pretty Modern Browsers */ url("../fonts/EuclidCircularB-Medium.ttf")
            format("truetype");
    /* Safari, Android, iOS */
    font-style: normal;
    font-weight: bold;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    margin: 0 !important;
    font-size: 14px;
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0px;
    background-color: #f5f5f5;
}

/* Custom css*/

@font-face {
    font-family: "Alpha Monday";
    src: url("/fonts/AlphaMonday.woff2") format("woff2"),
        url("../../../assets/fonts/GROBOLD.ttf") format("woff");
    /* url("../../../assets/fonts/EuclidCircularB-Medium.woff") format("woff"); */
    font-weight: 400;
    font-style: normal;
}
.alpha-heading {
    font-family: "Alpha Monday", sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 1;
    letter-spacing: 0;
    text-align: center;
}

.gro-bold-heading {
    font-family: "Alpha Monday", sans-serif;
    font-weight: 500;
    font-size: 200px;
    line-height: 1;
    letter-spacing: 0;
    text-align: center;
}
.alpha-heading-2 {
    font-family: "Alpha Monday", sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 1;
    letter-spacing: 0;
    text-align: center;
    padding-bottom: 35px;
    margin-top: 60px;
}
.gro-bold-heading-2 {
    font-family: "Alpha Monday", sans-serif;
    font-weight: 500;
    font-size: 60px;
    line-height: 1;
    letter-spacing: 0;
    text-align: center;
    padding-bottom: 30px;
}
.lead {
    font-weight: 400;
    font-size: 28px;
    line-height: 1;
    letter-spacing: 0;
    text-align: center;
}
.header-action-btn {
    gap: 15px;
    border-radius: 100px;
    padding: 20px 28px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.order-btn-hero {
    background-color: #fdd835; /* similar yellow */
    color: #4a2c18;
    border: none;
}

.pickup-btn {
    background-color: transparent;
    border: 2px solid #ffffff;
    color: white;
}
.material {
    font-size: 32px !important; /* increase size */
    font-variation-settings: "FILL" 0, "wght" 700,
        /* font weight: try 400–700 */ "GRAD" 0, "opsz" 24;
    vertical-align: middle; /* optional: aligns nicely with text */
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(105, 20, 17, 0.8);
    z-index: 1;
}

@media (max-width: 768px) {
    .gro-bold-heading {
        font-family: "Alpha Monday", sans-serif;
        font-weight: 500;
        font-size: 30px;
        line-height: 1;
        letter-spacing: 0;
        background: #000;
        text-align: center;
    }
    .alpha-heading {
        font-family: "Alpha Monday", sans-serif;
        font-weight: 400;
        font-size: 28px;
        line-height: 1;
        letter-spacing: 0;
        text-align: center;
    }
}

.nav-test {
    font-family: "Oswald", sans-serif, open-sa;
    font-weight: 700; /* Bold weight */
}
p {
    font-family: "Open Sans", sans-serif;
    font-weight: 300; /* Light weight */
    line-height: 1.6;
}
.color-red {
    color: #d2401e;
}
.bg-red {
    background: #d2401e;
}
.font-bold {
    font-weight: bold;
}
.center-item {
    display: flex;
    align-items: center; /* Vertical centering */
    /* justify-content: center; Horizontal centering */
    text-align: center; /* Ensures text is centered */
    height: "80px";
    width: "80px";
}
.bg {
    position: relative;
    /* background: #000; */
}
.float-iconb {
    width: "20px";
    height: "20px";
    display: "flex";
    justify-content: "center";
    align-items: "center";
    position: "absolute" !important;
    top: "-3px";
    right: "-5px";
    background-color: "red" !important;
    color: "white";
    border-radius: "50%";
    font-size: "12px";
}
.our-menu {
    background-image: url("../../../assets/img/suya/Our-Menu-Banner.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 150px 0 100px 0; /* Adjusted padding for smaller screens */
    color: white;
}

@media screen and (max-width: 768px) {
    .our-menu {
        padding: 120px 0 80px 0; /* Reduced padding for mobile */
    }

    .our-menu h1 {
        font-size: 40px; /* Further reduce font size */
        line-height: 48px;
    }
}

.video-container {
    width: "100%";
    transform: translateY(-27%);
    overflow-y: hidden;
}
.bg-indigo p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    max-width: 500px;
}

@media only screen and (max-width: 1024px) {
    .bg-indigo p {
        display: none;
    }
    .bg-indigo h1 {
        /* margin-top: 30px; */
        /* margin-bottom: 0; */
        display: none;
    }
}

.forgot-password {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #333333;
    margin-top: 10px;
    cursor: pointer;
}

.all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.passwordVisible {
    position: absolute;
    top: 15px;
    right: 15px;
}

.img-size {
    width: 17px;
}

.PhoneInputInput {
    border: 1px solid rgba(86, 204, 242, 0.5);
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    height: 45px;
    width: 100%;
    padding: 10px 20px;
    color: #333333;
    background: rgba(86, 204, 242, 0.05);
    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
}

.PhoneInputCountry {
    height: 45px;
    background: rgba(86, 204, 242, 0.05);
    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
    border: 1px solid rgba(86, 204, 242, 0.5);
    padding: 0 5px;
    border-radius: 8px;
}

.PhoneInputCountryIcon {
    width: 2.3571428571rem;
    height: 1.5rem;
    border-radius: 0.2857142857rem;
    box-shadow: none;
}

.PhoneInputCountryIconImg {
    border-radius: 0.2857142857rem;
}

/* The container */
.container-check {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    color: #333333;
}
