.center-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-red {
    color: #691411;
}
.bg-red {
    background-color: #691411;
}
.bg-orange {
    background-color: #ff8000;
}
.text-yellow {
    color: #ffd703;
}
.bg-yellow {
    background: #ffd703;
}
.position-relative {
    position: relative;
}
