@font-face {
    font-family: "Alpha Monday";
    src: url("../../../assets/fonts/AlphaMonday.otf") format("otf");
        /* url("../../../assets/fonts/GROBOLD.ttf") format("woff"); */
    /* url("../../../assets/fonts/EuclidCircularB-Medium.woff") format("woff"); */
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "GROBOLD";
    src: url("../../../assets/fonts/GROBOLD.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
.bg-orange {
    background: #ff8000;
}
.opening-hours {
    padding: 32px 16px;
    font-family: "Alpha Monday", sans-serif;
}
.opening-title {
    font-family: "Alpha Monday", sans-serif;
    /* font-family: "GROBOLD", sans-serif; */
    font-size: 28px;
    font-weight: 700;
    color: white;
}
.day {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 160%;
    letter-spacing: 0%;
}
.time {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 160%;
    letter-spacing: 0%;
}

/* Desktop Flexbox Layout */
@media (min-width: 768px) {
    .opening-hours {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 24px;
        padding: 32px 64px;
        text-align: left;
    }

    .opening-title {
        font-family: "Alpha Monday", sans-serif;
        /* font-family: "GROBOLD", sans-serif; */
        font-size: 28px;
        font-weight: 700;
        color: white;
    }

    .section {
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: 28px;
        font-weight: 700;
        color: #5c1d0d;
    }

    .separator-vertical {
        width: 2px;
        height: 60px;
        background-color: white;
    }

    .separator-horizontal {
        display: none;
    }
}

/* Mobile Layout: Stack */
@media (max-width: 767px) {
    .opening-hours {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .opening-title {
        font-family: "GROBOLD", sans-serif;
        font-size: 20px;
        color: white;
        margin-bottom: 12px;
    }

    .section {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 24px;
        font-weight: 700;
        color: #5c1d0d;
        margin: 10px 0;
    }

    .separator-horizontal {
        height: 3px;
        width: 120px;
        background-color: white;
        margin: 16px 0;
    }

    .separator-vertical {
        display: none;
    }
    .day {
        font-family: sans-serif;
        font-weight: 400 !important;
        font-size: 26px;
        /* line-height: 160%; */
        letter-spacing: 0%;
    }
    .time {
        font-family: sans-serif;
        font-weight: 400;
        font-size: 26px;
        line-height: 160%;
        letter-spacing: 0%;
    }
}
