.alpha-heading-h {
    font-family: "Alpha Monday" !important;
    font-weight: 400;
    font-size: 48px;
    line-height: 1;
    letter-spacing: 0;
    text-align: center;
}
.gro-bold-heading-h {
    font-family: "GROBOLD", sans-serif;
    font-weight: 500;
    font-size: 200px;
    line-height: 1;
    letter-spacing: 0;
    text-align: center;
    display: inline;
}

.lead {
    font-weight: 400;
    font-size: 28px;
    line-height: 1;
    letter-spacing: 1px;
    text-align: center;
}

@media (max-width: 768px) {
    .gro-bold-heading {
        font-family: "Alpha Monday", sans-serif;
        font-weight: 500;
        font-size: 100px;
        line-height: 1;
        letter-spacing: 0;
        text-align: center;
    }
    .gro-bold-heading-h {
        font-size: 150px;
    }
}
