.menu-section {
    background-color: #5d1715;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    /* padding: 40px; */
    background-image: url("../../../assets/img/pattern-bg.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 100%;
    z-index: 1;
    position: relative;
}
.menu-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* dark overlay */
    z-index: 1;
}
.small-btn {
    gap: 15px;
    border-radius: 100px;
    padding: 5px 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.226); /* dark semi-transparent bg */
    border: 2px solid #ffffff;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.small-btn:hover {
    background-color: rgba(0, 0, 0, 0.7); /* more contrast on hover */
    color: #fff;
}

.white-bg {
    background: #fff;
    border-radius: 20px;
    padding: 50px;
    position: absolute;
    top: -150px;
}
.cart-page {
    background-color: #fff;
    border-radius: 12px;
}

.card {
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.card img {
    border-radius: 10px;
}

.btn {
    border-radius: 8px;
}

.form-control {
    border-radius: 8px;
}

@media (max-width: 576px) {
    .white-bg {
        padding: 20px 10px !important;
        top: -120px;
    }
}