.menu-section {
    background-color: #5d1715;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    /* padding: 40px; */
    background-image: url("../../../assets/img/pattern-bg.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 100%;
    z-index: 1;
    position: relative;
    /* background: #000; */
}
@media (max-width: 768px) {
    .font-24 {
        font-size: 26px;
    }
}

@media (max-width: 576px) {
    .white-bg {
        padding: 20px 10px !important;
        top: -120px;
    }
}
