.delivery {
    background-color: #691411;
    padding: 32px 16px;
    padding-top: 50px !important;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;

    background-image: url("../../../assets/img/pattern-bg.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 100%;
    display: flex;
    align-items: center;
}

.bg-transparen {
    background: #ffffff15;
    border-radius: 50px;
    padding-block: 20px;
}
.icon {
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-item-justify {
    display: flex;
    justify-content: center !important;
}

/* Mobile Layout: Stack */
@media (max-width: 767px) {
    .img-fluid-pizza {
        transform: translateY(-50px) !important;
    }
    .delivery {
        padding-top: 50px !important;
    }
}
